[Unit]
Description = mqtt client for makerfairetokyo 2019

[Service]
ExecStart = /home/pi/raspberrypi_client/mqtt_client.py
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target