.gameMainContainer {
  &.start {
    background-image: url("/assets/images/title.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
  }
}
.settingButton {
  z-index: 1000;
}
.scene-wrapper {
  width: 100%;

  .scene-actions {
    width: 100%;
  }
}

.container {
  //position: relative;
  //width: 640px;
}

at-scene {
  //height: 480px;
  //display: block;
}

.kabukuLogo {
  width: 100px;
  filter: brightness(0) invert(1);
}

.startButton {
  font-size: xx-large;
  animation: blink 1s step-end infinite;
}

.titleSection {
  margin-bottom: 300px;

  .title {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    .subTitle {
      position: absolute;
      right: -150px;
      width: 150px;
      top: -50px;
      animation: subTitle 3s ease-in;
    }
  }

}

@keyframes subTitle {
  from {
    top: -500px;
  }
  to {
    top: -50px;
  }
}


@keyframes blink {
  75% {
    opacity: 0.0;
  }
}


