.damage {
  animation: damage 0.1s ease-out 8;
}

@keyframes damage {
  0% {
    transform: translate(0px, 0px) rotateZ(0deg)
  }
  33% {
    transform: translate(2px, 2px) rotateZ(2deg)
  }
  66% {
    transform: translate(0px, 2px) rotateZ(0deg)
  }
  100% {
    transform: translate(2px, 0px) rotateZ(-2deg)
  }
}
