.statusBar {
  position: absolute;
  bottom: 30px;
  height: 60px;
  left: 5px;
  right: 20px;

  .hpBar {
    background-color: #38ff00;
    position: absolute;
    top: 0;
    height: 20px;
    width: 100%;
    padding-left: 10px;
  }
  .chargeBar {
    position: absolute;
    background-color: #fffe00;
    height: 20px;
    top: 22px;
    width: 100%;
    padding-left: 10px;
    color: #2c2c2c;
  }

}
.damage {
  animation: damage 0.1s ease-out 8;
}

@keyframes damage {
  0% {
    transform: translate(0px, 0px) rotateZ(0deg)
  }
  33% {
    transform: translate(2px, 2px) rotateZ(2deg)
  }
  66% {
    transform: translate(0px, 2px) rotateZ(0deg)
  }
  100% {
    transform: translate(2px, 0px) rotateZ(-2deg)
  }
}
